body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(255, 128, 0);
}
Menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
.Menu ul li { display: inline; 
}
.Menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
.Menu ul li a.hover {
    background-color: rgb(34, 34, 143);
    color: blue;
}
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
      background-color:#f5f5f5;
  }