<!DOCTYPE html>
<html lang="pt-br">
<head>     
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta codigoSemana2="1511258812">
    <title>Pweb Eraldo Palhares</title>
      <link rel="stylesheet" href="style/style.css">
</head>
<body>
    
    
        <ul>
            <li><a  href="index.html">Inicio</a></li>
            <hr>
            <li><a href="noticias.html">Canais de noticias</a></li>
            <hr>
            <li><a href="adicionarPessoa.html">Adicionar pessoa</a></li>
            <li><a href="listarPessoas.html">Listar pessoas</a></li>
            <hr>
            <li><a href="sobre.html">Sobre o site</a></li>
            <li><a href="contato.html">Mande um e-Mail</a></li>
        </ul>
        
    
    <div style="margin-left:25%;padding:1px 16px;height:1000px;">
        <h1>Formulário para edição de pessoas:</h1>
    <form method="get" action="listarPessoas.html">
        <p>Nome completo *: <input type="text" name="nome" placeholder="Seu nome completo"></p> 
        <p> Data de nascimento *: <input type="" name="date" placeholder="dd/mm/aaaa"></p> 
        <p>e-Mail *: <input type="e-mail" name="email" placeholder="nome@dominio.com"></p>        
        <p>Sexo *:</p>
    <p><input type="radio" name="sexom" value="masculino">Masculino</p>
    <p><input type="radio" name="sexof" value="feminino">Feminino</p>
    <p><input type="radio" name="sexon" value="naoinformar">Não informar</p>
        
    <button type="reset" class="button">Limpar</button>
    <button type="submit" class="button" >Cadastrar!</button>
</form>
<p>* Campo obrigatório</p>

</div>
</body>
</html>