<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=, initial-scale=1.0">
<meta codigoSemana2="1511258812">
<title>Pweb Eraldo Palhares</title>
<link th:href="@{/public/favicon.ico}" rel="icon" type="image/x-icon">
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

	<ul>
		<li><a href="/">Inicio</a></li>
		<hr>		
		<li><a href="/adicionarPessoa">Adicionar pessoa</a></li>
		<li><a href="/listarPessoas">Listar pessoas</a></li>
		<hr>
		<li><a href="/public/noticias.html" >Noticias</a></li>
		<li><a href="/public/sobre.html" >Sobre</a></li>
		<li><a href="/public/contato.html">Contato</a></li>
	</ul>


	<div style="margin-left: 25%; padding: 1px 16px; height: 1000px;">
		<h1>Formulário para edição de pessoas:</h1>
		<form action="#" th:action="@{/editar/{id}(id=${pessoa.id})}" th:object="${pessoa}" method="POST">


			<p>
				Nome completo *: 
				<input type="text" th:field="*{nome}"  placeholder="Seu nome completo." id="nome" required />
			</p>
			<p>
				Data de nascimento *: 
				<input type="date" th:field="*{dataNascimento}" placeholder="dd/mm/aaaa" id="dataNascimento"  required />
			</p>
			<p>
				e-Mail *: 				
				<input type="text" th:field="*{email}" placeholder="nome@dominio.com" id="email"  required />
			</p>
			<p>Sexo *:</p>
			<p>

				<input type="radio" name="genero" value="Masculino" th:field="*{genero}" required />Masculino
			</p>
			<p>

				<input type="radio" name="genero" value="Feminino" th:field="*{genero}" required />Feminino
			</p>
			<p>

				<input type="radio" name="genero" value="Não informado"	th:field="*{genero}" required />Não informar
			</p>

			<input type="reset" class="button button12px" value="Limpar">
			<input type="submit" class="button button12px" value="Editar">
		</form>
		<p>* Campo obrigatório</p>

	</div>
</body>
</html>