<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=, initial-scale=1.0">
<meta codigoSemana2="1864297304">
<title>Pweb Eraldo Palhares</title>
<link th:href="@{/public/favicon.ico}" rel="icon" type="image/x-icon">
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

	<ul>
		<li><a href="/">Inicio</a></li>
		<hr>		
		<li><a href="/adicionarPessoa" >Adicionar pessoa</a></li>
		<li><a href="/listarPessoas" class="active">Listar pessoas</a></li>
		<hr>
		<li><a href="/public/noticias.html" >Noticias</a></li>
		<li><a href="/public/sobre.html" >Sobre</a></li>
		<li><a href="/public/contato.html" >Contato</a></li>
	</ul>

	<div style="margin-left: 25%; padding: 1px 16px; height: 1000px;">
		<center><h1>Lista de pessoas cadastradas</h1></center>
		<table>
			<thead>
				<tr>
				
					<th>id</th>
					<th>Nome Completo</th>
					<th>Data de Nascimento</th>
					<th>e-Mail</th>
					<th>Genêro</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="pessoa: ${pessoas}">
					<td th:text="${pessoa.id}"></td>
					<td th:text="${pessoa.nome}"></td>
					<td>
					<a th:href="'mailto:'+${pessoa.email}" th:text="${pessoa.email}"></a>
					</td>
					<td th:text="${#temporals.format(pessoa.dataNascimento,'dd/MM/yyyy')}"></td>
					<td th:text="${pessoa.genero}"></td>
					<td>
					<a th:href="@{/editar/{id}(id=${pessoa.id})}">Editar</a>
					</td>
					<td>
					<a th:href="@{/remover/{id}(id=${pessoa.id})}">Remover</a>
					</td>

				</tr>
			</tbody>
		</table>
		</div>
</body>
</html>
