<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=, initial-scale=1.0">

	<title>Agro Pop Shop - Eraldo Palhares</title>
	<link th:href="@{/public/favicon.ico}" rel="icon" type="image/x-icon">
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<div class="top">
	<img th:src="@{/imagens/plantação.jpg}" class="img-responsive" />
	</div>
	<div class="Menu">
		<ul>
			<li><a href="/" class="active">Inicio</a></li>			
			
			<li><a href="/cadastrarClientes">Cadastrar</a></li>
			<li><a href="/listarClientes">Clientes</a></li>
			
			<li><a href="/public/sobre.html">Sobre</a></li>
			<li><a href="/public/contato.html">Contato</a></li>
		</ul>
	</div>	
	<p> Projeto da Dicisplina de Programação Web 2020.2</p>
	



</body>

</html>